Package: odn-midpoint
Source:  odn-midpoint
Version: [[version]]
Section: java
Priority: extra
Architecture: all
Maintainer: jan.marcek@eea.sk
Homepage:  https://github.com/Evolveum/midpoint
Depends:  openjdk-7-jre-headless, tomcat7, postgresql
Description: Utility module to compile all of the maven based midPoint projects.